ARI_BASE_URL=http://127.0.0.1:8088
ARI_USER=admin
ARI_PASSWORD=change_me
STASIS_APP=StasisApp
OUTBOUND_ENDPOINT_TEMPLATE=PJSIP/{number}
OUTBOUND_CONTEXT=SuperAdmin
OUTBOUND_EXTENSION=1100
OUTBOUND_CALLER_ID=IA Bot <1000>
CORS_ORIGINS=http://localhost:5173
HOST=0.0.0.0
PORT=8000